
.principal {
    margin-top: 17%;
    color: white;
    background-color: #000000;
    padding: 18px;
    text-align: center;
    position: relative;
    z-index: 2;
    display: inline-flex;
    transition: .4s;
    border-radius: 10px;
    animation-name: mianimacion;
    animation-duration: 0.5s;
    animation-iteration-count: 6;
    &:hover {
        background-color: #42B881;
        color: #000;
    }
}

@keyframes mianimacion {
    0% {left:0%}
    25%{left: 30px;}
    50%{left:0%}
    75%{right: 30px;}
    100%{left:0%}
    
}

.contenido h1,
h2 {
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    .contenido h1 {
        font-size: 4rem;
    }
    .contenido h2 {
        font-size: 2rem;
    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#hero {
    min-height: 100vh;
    position: relative;

}

.separador {
    background-color: #000;
    width: 100%;
    height: 10px;
}
